@import "../bower_components/bootstrap-less/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&subset=cyrillic');

html,
body {
    font-family: 'Lora', serif;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.vertical-text {
    .vertical_text;
    transform-origin: 120% 375% 0;
    float: left;
    font-weight: bold;
}

.vertical-text:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: -10%;
    top: -50%;
    height: 200%;
    border-left: 1px solid #FFFFFF;
}

@import "index";
@import "products";